<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <% if (type == 'add') { %>
      <title>Add <%= title %></title>
    <% } else if (title == 'genre' && type == 'update') { %>
      <title>Update <%= selectedGenre.genre %></title>
    <% } else if (title == 'developer' && type == 'update') { %>
      <title>Update <%= selectedDeveloper.developer %></title>
    <% } %>
  </head>
  <body>
    <%- include('navbar', { links }) %>
    <% if (type == 'add') { %>
      <h1>Add a new <%= title %></h1>
    <% } else if (title == 'genre' && type == 'update') { %>
      <h1>Update <%= selectedGenre.genre %></h1>
    <% } else if (title == 'developer' && type == 'update') { %>
      <h1>Update <%= selectedDeveloper.developer %></h1>
    <% } %>
    <div class="container container-full">
      <div class="box">
        <% if (locals.errors) { %>
          <% errors.forEach(error => { %>
            <p>- <%= error.msg %></p>
          <% }); %>
        <% } %>
        <% if (title == 'game') { %>
          <form method="POST" action="/add">
            <p>
              <label for="game">Game title:</label>
              <input id="game" type="text" name="game" />
            </p>
            <p>
              <label for="genre">Genre:</label>
              <select id="genre" name="genre">
                <option value="">-- Select a genre --</option>
                <% genres.forEach(genre => { %>
                  <option value="<%= genre.genre_id %>"><%= genre.genre %></option>  
                <% }); %>
              </select>
            </p>
            <p>
              <label for="developer">Developer:</label>
              <select id="developer" name="developer">
                <option value="">-- Select a developer --</option>
                <% developers.forEach(developer => { %>
                  <option value="<%= developer.developer_id %>"><%= developer.developer %></option>  
                <% }); %>
              </select>
            </p>
            <p>
              <button class="button" type="submit">Submit</button>
            </p>
          </form>
        <% } else { %>
          <% if (type == 'add') { %>
            <form method="POST" action="/add/<%= title %>">
              <p>
                <label for="<%= title %>"><%= title.charAt(0).toUpperCase() + title.slice(1) %>:</label>
                <input id="<%= title %>" type="text" name="<%= title %>" />
              </p>
              <p>
                <button class="button" type="submit">Submit</button>
              </p>
            </form>
          <% } else if (title == 'genre' && type == 'update') { %>
            <form method="POST" action="/update/<%= title %>/<%= selectedGenre.genre_id %>?_method=PUT">
              <p>
                <label for="<%= title %>"><%= title.charAt(0).toUpperCase() + title.slice(1) %>:</label>
                <input id="<%= selectedGenre.genre_id %>" type="text" name="<%= title %>" value="<%= selectedGenre.genre %>" />
              </p>
              <p>
                <button class="button" type="submit">Submit</button>
              </p>
            </form>
          <% } else if (title == 'developer' && type == 'update') { %>
            <form method="POST" action="/update/<%= title %>/<%= selectedDeveloper.developer_id %>?_method=PUT">
              <p>
                <label for="<%= title %>"><%= title.charAt(0).toUpperCase() + title.slice(1) %>:</label>
                <input id="<%= selectedDeveloper.developer_id %>" type="text" name="<%= title %>" value="<%= selectedDeveloper.developer %>" />
              </p>
              <p>
                <button class="button" type="submit">Submit</button>
              </p>
            </form>
          <% } %>
        <% } %>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>